<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mt-5">
      <h3>Create a Quiz</h3>
      <form #quizForm="ngForm">
        <div class="form-group">
          <label>Title</label>
          <input
            name="title"
            [(ngModel)]="selectedQuiz.title"
            type="text"
            class="form-control"
            required
            pattern="[a-zA-Z0-9 ]{5,}">
          <div [hidden]="quizForm.controls.title?.valid || quizForm.controls.title?.pristine" class="error__message mt-1">
            <small>Required field! Must be at least 5 chars of length.</small>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <!-- Kötelező kitölteni, kisbetűk, nagybetűk, számok, szóköz, legalább 25 karakter. -->
          <textarea name="description"
            [(ngModel)]="selectedQuiz.description"
            class="form-control"
            required
            pattern="[a-zA-Z0-9 ]{25,}">
          </textarea>
          <div [hidden]="quizForm.controls.description?.valid || quizForm.controls.description?.pristine" class="error__message mt-1">
            <small>Required field! Must be at least 25 chars of length.</small>
          </div>
        </div>
        <div class="form-group">
          <label>Questions</label>
          <div>
            <button class="btn btn-success btn-block">new question</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>question</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let question of selectedQuiz.questions"> -->
              <tr *ngFor="let q of selectedQuiz.questions as sq">
                <td>{{sq[sq.indexOf(q)]}}</td>
                <td class="w-100">
                  <textarea name="" id="" cols="82" rows="3">
                    {{questions$[sq.indexOf(q)]?.question}}
                  </textarea>
                </td>
                <td>
                  <div class="btn-group w-100">
                    <!-- <button class="btn btn-info" routerLink="'admin/questioneditor/' + sq[sq.indexOf(q)]"> -->
                    <button class="btn btn-info" routerLink="['/1']">
                      <i class="fa fa-refresh"></i>
                    </button>
                    <button class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                  {{'/1'}}
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <textarea name="question"
            [(ngModel)]="selectedQuiz.questions"
            class="form-control"
            required
            pattern="[a-zA-Z0-9 ]{25,}">
          </textarea>
          <div [hidden]="quizForm.controls.description?.valid || quizForm.controls.description?.pristine" class="error__message mt-1">
            <small>Required field! Must be at least 25 chars of length.</small>
          </div> -->
        </div>
        <button class="btn btn-primary btn-block mt-2"
          [disabled]="quizForm.invalid"
          (click)="onCreateClick(quizForm.controls)">
          <i class="fa fa-save"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="list-group mb-4">
        <div
          *ngFor="let quiz of quizes$ | async | filter:filterText:filterKey | sorter:sorterKey"
          [class.active]="quiz.active"
          class="list-group-item list-group-item-action d-flex"
          aria-current="true"
        >
          <div class="content p-2 align-self-center">
            {{ quiz.title }}: {{ quiz.description | slice:0:65 }}...
          </div>
          <div class="btn-group ml-auto p-2">
            <button (click)="onUpdateClick(quiz)" class="btn btn-info">
              <i class="fa fa-check"></i>
            </button>
            <button (click)="onDeleteClick(quiz)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>
      </div>
      </div>
    </div>
  </div> -->
</div>
